body {
    background-image: url("https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-attachment: fixed;
    background-position: center center;
}

span {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    color: yellow;
    font-size: bold;
}

p {
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin: 5px 0;
}

.keys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}

.key {
    width: 80px;
    margin: 5px;
    padding-top: 10px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.4);
}

.playing {
    border: 3px solid yellow;
    box-shadow: 0 0 3px yellow;
    background: rgba(255,255,255,0.2);
}